
.cabecalhoprincipal {
    background-color: rgb(0, 49, 112);
    border-bottom: 13px solid #1e5b8d;
    box-shadow: 5px 5px 30px#000000;
    width: 100%;
}
.cabecalhoprincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container {
	width: 94%;
	margin: 0 auto;
}
h1 img {
    width: 100px;
    border-left: 4px solid rgb(103, 118, 255);
    border-right: 4px solid rgb(176, 184, 255);
    margin: 20px;
    box-shadow: 5px 5px 30px#826cff;
    border-radius: 30px;
}
nav a{
    text-transform: uppercase;
    margin: 0 20px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: 'Unbounded', cursive;
    font-weight: bold;
    text-shadow: 2px 2px  30px #826cff;
    transition: 1s;
}
nav a:hover {
    font-size: 22px;
    color: #d5dfff; 
    border-bottom: 10px solid #d5dfff;
}
.banner {
    background-image: url(../img/0_e9IzXjFu8p8wC9KF.png);

}
.banner__principal {
    background-size: cover;
    height: 435px;
    position: relative;
    top: 40px;
    width: 940px;
    padding: 20px  20px 40px 0px;
    margin: 0 auto;
    border-bottom: 70px solid #4ea1ff;
    box-shadow: 2px 2px 30px ;
    transition: 0.5s;
}
.banner__principal:hover {
    padding: 40px  40px 52px 0px;
}
.banner__principal .img1 {
    width: 40%;
}
.banner__info {
    vertical-align: text-bottom;
    display: inline-block;
}
.banner__info li {
    font-size: 25px;
    text-shadow: 5px 5px  10px #000000;
    font-family: 'Unbounded', cursive;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
}

.content::after {
    content: "➤";
    font-weight: bold;
    color: #006eff;
    padding-left: 20px;
}
.redes-sociais a img {
    float: left;
    margin-left: 7%;
}
.redes-sociais img {
    width: 35px;
}
.titulo-principal{
    padding: 80px;
    text-transform: uppercase;
    color: rgb(38, 0, 255);
    font-size: 37px;
    font-family: 'Unbounded', cursive;
    font-weight: 700;
    text-align: center;
}
.content-1 .sobre {
    font-size: 20px;
    font-family: 'Unbounded', cursive;
    width: 1000px;
    text-align: center;
    word-spacing: 7px;
    margin: 0 auto;
    line-height: 33px;
}
#cursos-id {
    background-color: #fcfcfc;
    border-top: 10px solid #f8f8f8;
}
.cursos {
    text-align: center;
    padding: 20px;
}
.curso__info img {
    width: 400px;
    box-shadow: 5px 5px 30px#000000;
    transition: 0.5s;
}
.curso__info img:hover {
    width: 600px;
}
.p-padrao {
    margin-top: 15px;
    font-family: 'Unbounded', cursive;
    font-size: 22px;
    font-weight: bold;
}
.p-padrao::before {
    content: "┃";
    font-weight: bold ;
    color: #006eff;
}
#formaçao-id {
    background-color: #f5f5f5;
    border-top: 10px solid #ebebeb;
}
.content__curso {
    display: flex;
    margin-top: 4rem;
    padding: 20px;
    width: 900px;
    margin: 0 auto;
}
.content__formacao {
    display: flex;
    margin-top: 4rem;
    padding: 20px;
    width: 900px;
    margin: 0 auto;
}
.content__cursos {
    display: flex;
    margin-top: 4rem;
    padding: 20px;
    width: 900px;
    margin: 0 auto;
}
.content__lista {
    margin: 0 auto;
    text-align: center;
    width: 940px;
}
.content__item {
    font-size: 25px;
    font-family: 'Unbounded', cursive;
    word-spacing: 10px;
    text-align: left;
    line-height: 40px;
    color: #4b4b4b;
}
.content__item::before {
    content: "┃";
    margin: 0 3px;
    font-weight: bold ;
    color: #006eff;
}
.content__logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px#000000;
}
.content__item strong{
    color: #006eff;
    font-weight: 700;
}
.competencia__lista {
    width: 980px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.competencia__item, .habilidades__item {
    font-family: 'Unbounded', cursive;
    font-size: 22px;
    padding: 20px;
    color: #4b4b4b;
}
.competencia__item:hover {
    font-size: 25px;
}
.competencia__item::before {
    content: "┃";
    margin: 0 3px;
    font-weight: bold ;
    color: #006eff;  
}
#competencia-id {
    background-color: #f0f0f0;
    border-top: 10px solid #e7e7e7;
}
.habilidades__lista {
    width: 980px;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.habilidades__item::before {
    content: "┃";
    margin: 0 3px;
    font-weight: bold ;
    color: #006eff;  
}
.habilidades__item:hover {
    font-size: 25px;
}
#habilidades-id {
    border-top: 10px solid #e7e7e7;
    background-color: #f0f0f0;
}
.contato {
    background-color: #ebebeb;
    border-top: 10px solid #d4d4d4;
    text-align: center;
    font-style: italic;
}
.titulo-contato {
    font-size: 37px;
    padding: 30px;
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.contato__descricao {
    font-size: 20px;
    color: #7c7c7c;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}
.lista-contato {
    padding: 20px;
}
.lista-contato li {
    display: inline-block;
    margin-left: 20px;
}
.lista-contato li a img {
    width: 30px;
}
.contato__email {
    font-size: 17px;
    color: #888888;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}
.contato__email::before {
    content: '✉  ';
    font-size: 20px;
}
.contato__numero {
    font-size: 17px;
    color: #888888;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}
.contato__numero::before {
    content: '☎  ';
    font-size: 20px;
}
@media (max-width: 1000px) {
    .body {
        width: 100%;
    }
    .banner__principal {
        width: 340px;
        height: 300px;
    }
    .cabecalhoprincipal .container {
        flex-direction: column;
        width: 350px;
    }
    .titulo-principal{
        padding: 30px;
        font-size: 33px;
    }
    nav a {
        text-align: center;
        display: block;
        margin: 15px 0 15px 0;
    }
    .img1 {
        position: relative;
        left: 30%;
    }
    .banner__principal:hover {
        padding: 25px  25px 38px 0px;
    }
    .banner__info {
        display: block;
        margin-left: 10px;
        margin-top: 10px;
    }
    .content__logo {
       margin: 0 auto;
    }
    .banner__info li {
        font-size: 17px;
    }
    .redes-sociais a img {
        margin-left: 60px;
    }
    .content-1 {
        width: 350px;
        margin: 0 auto;
    }
    .content-1 h2 {
        padding: 30px;
        margin-top: 20%;
    }
    .content-1 .sobre {
        width: 350px;
    }
    .content__curso {
        flex-direction: column;
        width: 300px;
        margin-top: 40px;
    }
    .curso__info img {
        width: 350px;
        margin-left: -8px;
    }
    .curso__info img:hover{
        width: 350px;
    }
    .content__lista {
        margin: 0 auto;
        width: 350px;
        text-align: center;
    }
    .competencia__lista {
        width: 300px;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .habilidades__lista {
        width: 300px;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .content__formacao {
        flex-direction: column;
        width: 320px;
    }
    .forlogo {
        margin-left: 100px;
    }
}
